body {
    margin: 0;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  

  .navbar-brand {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    text-align: center;
  }
  
  .navbar-brand:hover {
    font-size: x-large;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity))!important;
  }
  
  .card {
    border-radius: 10px;
    border: none;
    position: relative;
    cursor: pointer;
    width: 300px;
    font-family: 'Times New Roman', Times, serif;
  }

  .container-top,
.container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.container-top .card,
.container-bottom .card {
  width: 300px;
  font-family: 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 600px) {
  .container-top,
  .container-bottom {
    flex-direction: column;
  }

  .container{
    width: 500px;
  }

}
  
  .face {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transform: translateY(100px);
    z-index: 1;
  }
  
  .face-2 {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    transition: 0.5s;
    transform: translateY(-100px);
  }
  
  .card:hover .face-2 {
    transform: translateY(0);
  }
  
  .card:hover .face.red {
    background-color: rgb(153, 33, 33);
    transform: translateY(0);
  }
  
  .card:hover .face.purple {
    background-color: rgb(108, 26, 184);
    transform: translateY(0);
  }
  
  .card:hover .face.green {
    background-color: rgb(23, 153, 29);
    transform: translateY(0);
  }

  .card:hover .face.blue {
    background-color: rgb(17, 186, 238);
    transform: translateY(0);
  }
  
  .card svg {
    scale: 2;
    fill: #222;
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover svg {
    fill: #fff !important;
  }
  
  .card:hover h3 {
    color: #fff;
  }
  
  .imgbox {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
  
  .card:hover .imgbox {
    opacity: 1;
  }
  
  h3 {
    margin: 10px 0 0;
    padding: 0;
    color: black;
    text-align: center;
    font-size: 25px;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  .card a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #777;
    padding: 5px;
    border: 1px solid #777;
    text-transform: uppercase;
    border-radius: 10px;
  }
  
  a:hover {
    background-color: #777;
    color: #fff;
  }
  
  /* Media Queries */
  
  @media only screen and (max-width: 600px) {
    .card {
      width: 100%;
    }
  
    .face,
    .face-2 {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .container-image {
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
  
    .container-image app-images {
      width: 100%;
      height: auto;
      float: none;
    }
  }
  